@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    font-family: "Raleway";

}

h1 {
    font-size: 50px;
    font: weight 64px;
}

h2 {
    font-size: 46px;
    font-weight: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b54;
}

header {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    background-color: #E3E6F3;
    padding: 0 100px;
    z-index: 999;
    position: sticky;
    box-shadow: 1px 2px 15px gray;
    top: 0;
    left: 0;
}

.nav-list ul {
    display: flex;
    gap: 20px;

}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 19px;
    position: relative;
    padding: 0px 20px;
    font-family: "Raleway", sans-serif;
    transition: 1s;
}

.nav-list li a:hover {
    color: #088178;

}

.nav-list li a::after {
    content: "";
    position: absolute;
    background-color: #088178;
    height: 2px;
    bottom: -5px;
    width: 0%;
    left: 20px;
    transition: 1s;
}

.nav-list li a:hover::after {
    width: 50%;
}

.nav-list li:nth-child(1) a {
    color: #088178;
}

.nav-list li:nth-child(1) a::after {
    width: 40%;
}

.hero {
    height: 90vh;
    background-image: url(hero4.png);
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px 100px;

}
.hero h1{
    margin: 10px 0;
    font-size: 60px;
}
.hero h1 span{
    color:#088178 ;
        font-size: 55px;

}
.hero p{
    margin-top: 10px;        font-size: 20px;

}
.hero button{
    margin-top: 25px;
    border: none;
    background: transparent;
    outline: 0;
    padding: 14px 82px 14px 64px; 
    font-size: 16px;
    cursor: pointer;
    color: #088178;
    font-weight: 500;
    background-repeat: no-repeat;
    background-image: url(button.png);
}
.feature{
    margin:50px 0 ;  
flex-wrap: wrap;
    padding: 0px 80px;
    display: flex;
    justify-content: space-evenly;
}
.f1{
    width: 188px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin: 15px 0;
    border: 1px solid #cce7d0;
    transition: 0.5s;
}
.f1:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.3);
}
.f1 h6{
    display: inline-block;
    margin-top: 10px;
    padding:9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
.f1:nth-child(2) h6{
    background-color: #cdebbc;
}
.f1:nth-child(3) h6{
    background-color: #d1e8f2;
}
.f1:nth-child(4) h6{
    background-color: #cdd4f8;
}
.f1:nth-child(5) h6{
    background-color: #f6dbf6;
}
.f1:nth-child(6) h6{
    background-color: #fff2e5;
}
.featured-product{
    text-align: center;
}
.product{
        display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 180px;
}
.p-1:hover{
       box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.3);
 
}
.p-1{
    transition: 0.5s;
    width: 260px;
    padding: 10px;
    margin: 20px 0;
 border-radius: 20px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);

}
.p-1 img{
    width: 240px;
    border-radius: 20px;

}
.p-1 p{
    margin: 7px 0px;
}
.p-1 h5{
    font-size: 17px;
        margin: 4px 0px;
}
.p-1 i{
    color: rgb(213, 183, 12);
}
.p-1 h4{
    margin-top: 5px;
}