* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: repeating-radial-gradient(red, pink, green, yellow);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

.container h1 {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: -50px;
}

textarea {
    width: 100%;
    max-width: 600px;
    height: 250px;
    background-color: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    resize: none;
}

.row {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    background-color: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    flex: 1 1 40%;
    min-width: 120px;
}

select {
    flex: 1 1 50%;
    background-color: #403d84;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
}

/* Mobile optimization */
@media (max-width: 600px) {
    .container h1 {
        font-size: 6vw;
    }

    textarea {
        height: 200px;
        font-size: 14px;
    }

    /* button, select {
        width: 100%;
        flex: 1 1 ;
    } */

    .row {
        flex-direction: column;
        gap: 15px;
    }
}
