*{
    margin: 0;
    padding:0;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: #fff;
   padding: 2rem ;
   border-radius: 1rem;
   min-height: 45vh;
   width: 40vh;
   box-shadow: 5px 5px 15px 5px rgba(81, 2, 250, 0.7); /* Aqua shadow */

}
form{
    margin: 2rem 0;
}
form input,select,button{
    border: none;
    outline: none;
    width: 100%;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid gray;
    font-size: 1rem;
    padding-left: 0.5rem;
    height: 3rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
}
.dropdown i {
    font-size: 1.4rem;
    margin-top: 1rem;
}
.select-container img{
 max-width: 2.5rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;

}
.select-container img{
    font-family: 1rem;
    width: auto;
}
.msg {
    margin: 2rem 0 2rem 0;
  }
  form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }