* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.card {

    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #5b548a);
    color: #fff;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 1px 4px 15px aqua;
    animation: bg 5s ease-in-out infinite;
    background-size: 400% 400%;

}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: white;
    padding: 20px 25px;
    /* height: 60px; */
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    background: linear-gradient(45deg, rgb(187, 35, 60, 1), rgba(126, 27, 121, 0.5), rgb(26, 65, 142));
    background-size: 400% 400%;
    animation: bg 5s ease-out infinite;
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.search input::placeholder {
    color: white;
}


.search button {
    padding: 10px;
    background-color: #ebfffc;
    outline: 0;
    width: 5vw;
    max-width: 60px;
    height: 60px;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    color: white;
    background: linear-gradient(45deg, white, grey, pink, red);
    background-size: 400% 400%;
    animation: bg 5s ease-out infinite;
    transition: all 5s ease-in-out 1s;
}

.search button:active {
    cursor: progress;
}


.search img {
    width: 16px;
}

.wheather-icon {
    width: 170px;
    margin-top: 30px;
}

.wheather h1 {
    font-size: 80px;
    font-weight: 500;
}

.wheather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;

}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}