*{
    margin: 0;
    padding: 0;
}
body{
    transition: 0.5s ease-in-out;
}
.random-color{
    height:90px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    padding: 10px 10px;
}
.random-color p{
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.random-color button{
    background-color: black;
    font-size: 20px;
    color: white;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;

}


