* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, red, rgb(225, 10, 143), blue);
    width: 100%;
    height: 100vh;
    color: white;
    padding-top: 4%;
    padding-left: 10%;
}

.container button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(165, 42, 81);
    color: white;
    margin: 20px 0 20px 3px;
    cursor: pointer;
}

.container h1 {
    margin-left: 8px;
}


.input-box {
    width: 80vw;
    position: relative;
    outline: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    max-width: 450px;
    min-height: 20vh;
    color: black;
    background-color: white;
    padding: 20px;

}

.input-box .del {
    width: 20px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}