*{
    margin: 0;
    padding: 0;
}
main{
    width: 60%;
    height: 500px;
    box-shadow: 0px 0px 3px red;
    margin: auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;    transition: 1s;

}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.7s;
}
.btn{
    text-align: center;
    margin-top: 15px;
}
.btn button{
    font-size: 20px;
}