*{
    padding: 0;
    margin: 0;
}



body{
    width: 100%;
    height: 100vh;
    background-color: crimson;
}
.btn{
    border: 0;
    outline: 0;
    padding: 10px 20px ;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    background: linear-gradient(3600deg , rgb(255, 0, 81) , rgb(225, 255, 0),rgb(216, 123, 17) , white);
    cursor: pointer;
}

.popup{
    border-radius: 5px;
    position: absolute;
    top: 0%;   
    left: 40%;
    transform: translate(-50%,-50%);
    transform: scale(0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    background-color: white;
    width: 10vw;
    display: none;
    min-width: 280px;
    animation: move 0.7s ease-out forwards ;
}
@keyframes move {
   0%{
    top: -10%;
   }
   100%{
    top: 40%;
        transform: scale(1);


   }
}

.popup i{
  background-color:rgb(7, 230, 7) ;
  padding: 18px;
  color: white;
  position: relative;
  top: -35px;
  border-radius: 50%;
}
.popup h3{
    font-size: 20px;
    font-weight: 800;
    margin-top: 25px;
}
.popup p{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
    padding: 5px 10px;
}
.ok{
    margin-top: 20px;
    border: 0;
    outline: 0;
    padding: 7px 0;
    width: 100%;
    background-color: rgb(7, 230, 7);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.ok:hover{
        box-shadow: 5px 3px 15px black;
}