*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-55deg ,#f3030b,#9d85ff,#f75990,#00DDFF, #0049B7);
    animation: bg 5s ease-in-out infinite;
    background-size: 400% 400%;
}
@keyframes bg {
    0%{
        background-position: 50% 80%;
    }
    25%{
        background-position: 50% 25%;
    }
    50%{
        background-position: 65% 50%;
    }
    75%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 8% 100%;
    }
}


.inputbox{
    background-color: white;
    width: 400px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    
}
    
input{
    border: none;
    outline: 0;
    width: 100%;
    height: 100%;
        padding: 20px;
    border-radius: 10px;

}

img{
    width: 57px;
    cursor: pointer;
    padding: 20px;
}
